@model Quizz.Models.User
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    <div class="centered_block">
        <div class="loginForm">
            <div class="right-side">
                <div>
                    @Html.LabelFor(model => model.Email, htmlAttributes: new{@class="label-Login" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new {@placeholdeer="Email" })
                        @Html.ValidationMessageFor(model => model.Email, "")
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label-Login" })
                    <div class=" col-md-10">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "")
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" value="Login" />
                        @Html.ActionLink("Don't have an account?", "Registration", "Authorization")
                    </div>
                </div>
            </div>
            <div class="left-side">
                <h1>rheuihguieghuieh</h1>
            </div>
           
           
           
        </div>
    </div>
}
