@model Quizz.Models.User

@{
    ViewBag.Title = "Registration";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div >
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.Firstname)
            <div>
                @Html.EditorFor(model => model.Firstname)
                @Html.ValidationMessageFor(model => model.Firstname, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LastName)
            <div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Email)
            <div >
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "")
            </div>
        </div>

        <div >
            <div>
                <input type="submit" value="Create" />
                @Html.ActionLink("Already have an account?", "Login", "Authorization")
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
